.category {
  padding: 24px 0 12px; // ?
  // border: 1px solid royalblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 962px; // laptop
  width: 100%;
  // gap: 15px; // minimal gap // ?

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  @include tablet {
    padding: 16px 0 5px;
    font-size: 12px;
    line-height: 15px;
  }
  @include mobile {
    // gap: 10px 30px;
    row-gap: 10px;
    column-gap: 15px;
    font-size: 10px;
    line-height: 12px;
    justify-content: flex-start;
  }

  &__item {
    // border: 1px solid lawngreen;
  }

  &__link {
    display: block;
    // border: 1px solid magenta;
    position: relative;
    transition: color 300ms ease-in-out; // link color
    
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 26px;
      height: 2px;
      transition-property: color transform opacity;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      transform: translate(-50%, 0) scale(0, 1);
      background-color: $main_color;
      opacity: 0;
      @include tablet {
        bottom: -4px;
        width: 20px;
        height: 1px;
      }
    }
    &:hover {
      opacity: 1;
      color: $dark_grey;
      &::after {
        opacity: 1;
        background-color: $dark_grey;
        transform: translate(-50%, 0) scale(1, 1);
      }
    }
    &_active {
      pointer-events: none;
      &::after {
        opacity: 1;
        transform: translate(-50%, 0) scale(1, 1);
      }
    }
  }
}
