.color {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  outline-offset: 3px;
  outline: 0.4px solid transparent;
  @include tablet {
    width: 12px;
    height: 12px;
  }
  &:hover {
    outline: 0.4px solid $dim_grey;
  }
  &_check {
    outline: 0.4px solid $dim_grey;
    &:hover {
      outline: 0.4px solid transparent;
    }
  }
  &_black {
    background-color: black;
    border: 1px solid #000;
  }
  &_red {
    background-color: red;
    border: 1px solid red;
  }
  &_white {
    background-color: white;
    border: 1px solid black;
  }
  &_blue {
    background-color: royalblue;
    border: 1px solid royalblue;
  }
  &_green {
    background-color: darkgreen;
    border: 1px solid darkgreen;
  }
}
