.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $main-color;
  margin: 0;
  // padding-top: 120px;
  // @include tablet {
  //   padding-top: 80px;
  // }
  // @include mobile {
  //   padding-top: 60px;
  // }
  
  &__container {
    display: grid;
    padding-top: 51px;
    padding-bottom: 24px;
    border-top: 1px solid $light_gray;
    // gap: 26px 20px;
    row-gap: 26px;
    column-gap: 10px;
    grid-template-areas:  "cat soc cont"
                          "copy . dev";

    justify-content: space-evenly;
    grid-template-columns: 1fr 2fr 1fr;
    @include laptop {
      padding-top: 31px;
      padding-bottom: 24px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include tablet {
      padding-top: 25px;
      padding-bottom: 16px;
      row-gap: 17px;
      grid-template-columns: 1fr 2fr 1fr;
    }
    @include mobile {
      padding-top: 17px;
      padding-bottom: 16px;
      gap: 24px;
      grid-template-columns: 1fr max-content;
      grid-template-areas:  "cat soc"
                            "cont cont"
                            "dev dev"
                            "copy copy";
    }
  }

  &__item {
    // border: 1px solid royalblue;
    @include laptop {
      border: none;
      // border: 1px solid lawngreen;
    }
    @include tablet {
      // border: 1px solid orange;
    }
    @include mobile {
      // border: 1px solid magenta;
    }

    &_category {
      grid-area: cat;
    }

    &_social {
      grid-area: soc;
      justify-self: center;
      @include laptop {
        justify-self: start;
      }
      @include tablet {
        justify-self: center;
      }
      @include mobile {
        justify-self: start;
      }
    }

    &_contacts {
      grid-area: cont;
    }

    &_copyright {
      grid-area: copy;
    }

    &_development {
      grid-area: dev;
    }

  }

  &__title {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @include tablet {
      font-size: 16px;
      line-height: 19px;
    }
    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
    
  }

  &__link {
    display: inline-block;
    transition: color .3s ease-in-out;
    &:hover {
      color: $dim_grey;
    }
  }

  // &-copyright,
  // &-development {
  //   font-weight: 400;
  //   line-height: 130%;
  //   font-size: 12px;
  //   @include tablet {
  //     font-size: 10px;
  //   }
  // }
}


@import 'footer-category';
@import 'footer-social';
@import 'footer-contacts';
@import 'footer-copyright';
@import 'footer-development';
