.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $main-color;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  @include mobile {
    padding-top: 60px;
  }
  
  &__container {
    display: block;
    // border: 1px solid lawngreen;
    // border-top: 1px solid $light_grey;

    // display: grid;
    // grid-template-areas:  "cat soc cont" "copy . dev";
    // grid-column-gap: 90px;
    // grid-row-gap: 26px;

    @include tablet {
    }
    @include mobile {
    }
  }

  &__inner {
    border: 1px solid transparent;
    border-top-color: $light_gray;
    width: 100%;
    display: grid;
    grid-template-areas:  "cat soc cont" "copy . dev";
    grid-column-gap: 90px;
    grid-row-gap: 26px;
    padding-top: 51px;
  }

  &__item {
    // border: 1px solid lawngreen;
    // ? padding:  0;
    &_category {
      grid-area: cat;
    }

    &_social {
      grid-area: soc;
    }

    &_contacts {
      grid-area: cont;
    }

    &_copyright {
      grid-area: copy;
    }

    &_development {
      grid-area: dev;
    }

  }
  &__link {
    display: inline-block;
    &:hover {
      color: $dark_grey;
    }
  }
  &__title {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 24px;
  }
}

.footer-category {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  &__title {

  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 80px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  &__subitem {
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }
}

.footer-social {
  // border: 1px solid magenta;
  &__item {}
  &__link {
    display: block;
    &:hover {
      color: darkmagenta;
    }
  }
  &__list {}
  &__subtitle {}
  &__title {}
}

.footer-contacts {
  &__email {}
  &__link {}
  &__phone {}
}

.footer-copyright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-development {
  display: block;
  &__item {

  }
  &__list {
    display: block;
  }
}

.footer {
  &-copyright,
  &-development {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
}