.footer-category {

  &__title {
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 80px;
    @include laptop {
      gap: 30px;
    }
    @include tablet {
      flex-direction: column;
      gap: 7px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px; // ?
    @include tablet {
      font-size: 12px;
      line-height: 15px;
      margin: 0;
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    @include tablet {
      display: none;
    }
  }
  // ? for block
  &__subitem {
    // margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}
