.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $main-color;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  @include mobile {
    padding-top: 60px;
  }
  
  &__container {
    display: block;

    @include tablet {
    }
    @include mobile {
    }
  }

  &__inner {
    border: 1px solid transparent;
    border-top-color: $light_gray;
    padding-top: 51px;
    width: 100%;
    display: grid;
    grid-auto-columns: (280px 1fr 280px);
    grid-template-areas:  "cat soc cont"
                          "copy . dev";
    grid-column-gap: 20px;
    grid-row-gap: 26px;
    justify-content: space-evenly;
    // justify-content: space-between; // ?
    @media (max-width: 1262px) {
      grid-auto-columns: (280px 280px 280px);
    }
  }

  &__item {
    // border: 1px solid lawngreen;
    // ? padding:  0;
    &_category {
      grid-area: cat;
    }

    &_social {
      grid-area: soc;
      justify-self: center;
      @media (max-width: 1262px) {
        justify-self: start;
      }
    }

    &_contacts {
      grid-area: cont;
    }

    &_copyright {
      grid-area: copy;
    }

    &_development {
      grid-area: dev;
    }

  }
  &__link {
    display: inline-block;
    &:hover {
      color: $dark_grey;
    }
  }
  &__title {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &-copyright,
  &-development {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
}

.footer-category {
  &__title {
    margin-bottom: 24px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 80px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  &__subitem {
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }
}

.footer-social {
  &__title {
    margin-bottom: 16px; // ?24px?
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    gap: 10px;
  }
  &__item {}
  &__link {
    display: block;
    &:hover {
      color: $dark_gray;
    }
  }
}

.footer-contacts {
  &__email {
    margin-bottom: 16px;
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;    
  }
  &__link {}
  &__phone {}
}

.footer-copyright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-development {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  &__item {

  }
  &__list {
    display: block;
  }
}
