.footer-development {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  font-weight: 400;
  line-height: 130%;
  font-size: 12px;
  @include tablet {
    font-size: 10px;
  }
  @include mobile {
    row-gap: 6px;
  }

  // &__item {

  // }
  // &__list {
  //   display: block;
  // }
}
