.gender {
  display: flex;
  height: 54px;
  &__item {
    display: block;
    align-items: center;
    flex-basis: 50%;
  }
  &__link {
    display: block;
    text-align: center;
    padding: 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    transition: color 300ms ease-in-out;
    border-bottom: 1px solid $light_grey;
    @include tablet {
      font-size: 16px;
      line-height: 19px;
    }
    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
    &_active {
      border-bottom: 1px solid $main_color;
      pointer-events: none;
    }
    &:hover {
      color: $gray;
    }
  }
}
