.header {
  display: block;
  padding: 24px 0 36px;
  @include tablet {
    padding: 16px 0 16px;
  }
  @include mobile {
    padding: 16px 0 24px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main_color;
    width: max-content;
    @include tablet {
      font-size: 12px;
    }
    @include mobile {
      display: none;
    }
  }

  &__link {
    display: block;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__link:hover {
    color: $gray;
  }

  &__logo {
    display: block;
    justify-self: center;
    width: 250px;
    height: 65px;
    @include tablet {
      width: 154px;
      height: 41px;
    }
    @include mobile {
      justify-self: start;
      width: 124px;
      height: 33px;
    }
  }

  &__navigation {
    justify-self: end;
    display: flex;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    @include mobile {
      gap: 16px;
    }
  }
}