.hero {
  display: block;
  width: 100%;
  height: 450px;
  background-color: $dark_gray;
  color: $second_color;
  margin-bottom: 80px; // todo

  background-position: center;
  background-size: cover;
  // background-image: url(../img/hero/banner_women.jpg);
  // border: 1px solid blue;

  @include laptop {
    height: 338px;
    margin-bottom: 24px;
    // background-image: url(../img/hero/banner_women-laptop.jpg);
    // border: 1px solid darkviolet;
  }
  @include tablet {
    height: 338px;
    margin-bottom: 24px;
    // background-image: url(../img/hero/banner-women-tablet.jpg);
    // border: 1px solid orangered;
  }
  @include mobile {
    height: 200px;
    margin-bottom: 24px;
    // background-image: url(../img/hero/banner-women-mobile.jpg);
    // border: 1px solid lawngreen;
  }

  &_women {
    background-image: url(../img/hero/hero_banner_women_desktop-1440_450.jpg);
    
    @include laptop {
      background-image: url(../img/hero/hero_banner_women_laptop-1024_450.jpg);
    }
    @include tablet {
      background-image: url(../img/hero/hero_banner_women_tablet-768_338.jpg);
    }
    @include mobile {
      background-image: url(../img/hero/hero_banner_women_mobile1-320_200.jpg);
    }
  }
  &_men {
    background-image: url(../img/hero/hero_banner_men_desktop.jpg);
    
    @include laptop {
      background-image: url(../img/hero/hero_banner_men_laptop.jpg);
    }
    @include tablet {
      background-image: url(../img/hero/hero_banner_men_tablet.jpg);
    }
    @include mobile {
      background-image: url(../img/hero/hero_banner_men_mobile.jpg);
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__content {
    max-width: 590px;
    padding: 172px 0 86px;
    @include tablet {
      max-width: 410px;
      padding: 156px 0 50px;
    }
    @include mobile {
      padding: 76px 0 24px;
      max-width: 290px;
    }
  }
  &__title {
    font-weight: 400;
    text-transform: uppercase;
    color: $second_color;
    font-size: 44px;
    // ? line-height: 53px;
    line-height: 1.2;
    margin-bottom: 40px;
    @include laptop {
      font-size: 44px;
      // ? line-height: 36px;
      line-height: 1.2;
      margin-bottom: 40px;
    }
    @include tablet {
      font-size: 30px;
      // ? line-height: 36px;
      line-height: 1.2;
      margin-bottom: 24px;
    }
    @include mobile {
      font-size: 20px;
      // ? line-height: 24px;
      line-height: 1.2;
      margin-bottom: 16px;
    }
  }
  &__link {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;

    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    
    color: $second_color;
    background-color: transparent;
    border: 1px solid $second_color;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 41px;
    @include laptop {
      font-size: 14px;
      line-height: 17px;
      padding: 14px 41px;
    }
    @include tablet {
      font-size: 10px;
      line-height: 12px;
      padding: 12px 40px;
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
      padding: 12px 40px;
    }
    
    &:hover {
      background-color: $dark_gray;
      border-color: $second_color;
    }
    &:focus {
      background: rgba(255, 255, 255, 0.1);
      border-color: $second_color;
    }
  }
}