.navigation {
  // padding-top: 18px;
  // padding-bottom: 60px;
  padding-bottom: 50px;
  color: $main_color;

  @include laptop {
    margin-bottom: 38px;
  }
  @include tablet {
    margin-bottom: 31px;
  }
  @include mobile {
    margin-bottom: 19px;
  }

}


@import 'gender';
@import 'category';
