.product {
  &__btn-favorite {}
  &__color-item {}
  &__color-list {}
  &__image {}
  &__link {}
  &__price {}
  &__row {}
  &__title {}
}

.goods {
  &__item {
    // border: 1px solid orangered;
  }
  &__product {}
}


.product {
  display: block;

  &__link {
    display: block;
  }
  &__image {
    margin-bottom: 16px;
    transition-property: border, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    box-shadow: none;
    &:hover {
      box-shadow: 0 0 10px 6px #0202023f;
    }
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__title {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    min-height: 35px;
    @include tablet {
      margin-bottom: 6px;
    }

  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 7px;
    }
  }
  &__price {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  &__btn-favorite {
    display: block;
    width: 24px;
    height: 24px;
    color: $main_color;
    background-color: transparent;
    background-image: url(../img/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__color-list {}
  &__color-item {}
}

.color {
  &_black {}
  &_red {}
  &_white {}
  &_check {}
}